<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card mt-3">
        <div class="card-header">
          <p class="card-title text-center display-4">Registrar Importes</p>
        </div>
        <div class="card-body">
          <form [formGroup]="this.appService.form">
            <div class="form-group">
              <label for="typeInput">Tipo</label>
              <select formControlName="type" class="form-control" required>
                <option value="">Seleccionar...</option>
                <option *ngFor="let type of transactionType" [value]="type.name">{{ type.name }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="conceptInput">Concepto</label>
              <select formControlName="concept" class="form-control" required>
                <option value="">Seleccionar...</option>
                <option *ngFor="let concept of concepts" [value]="concept.name">{{ concept.name }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="amountInput">Monto</label>
              <input formControlName="amount" type="number" name="amount" class="form-control" id="amountInput" placeholder="0" required>
            </div>
            <div class="form-group">
              <label for="dateInput">Fecha</label>
              <input formControlName="date" type="date" name="date" class="form-control" id="dateInput" required>
            </div>
            <div class="form-group text-right">
              <input (click)="save()" class="btn btn-primary" type="submit" value="Guardar">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
