<div class="container">
  <div class="row">
    <div class="col-md-8 m-auto pt-4">
      <div class="card">
        <div class="card-header">
          <p class="card-title text-center h5 font-weight-bold">Transacciones</p>
        </div>
        <div class="list-group">
          <a *ngFor="let trans of this.appService.getTransactions()" href="#" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{trans.type}}</h5>
              <small>{{trans.date | date:'MMM dd, Y'}}</small>
            </div>
            <p class="mb-1">{{ trans.type }} por {{ trans.concept}} de <span class="font-weight-bold">RD${{ trans.amount }}</span></p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
